# Build and Release Folders
bin/
bin-debug/
bin-release/


# Other files and folders
.settings/

# python aux files
*.pyc



# latex related ignores
*.aux
*.bbl
*.blg
*.log

# excluding data files
*.vw
*.svm
*.gz

